.bodyClass {
    background-color:#0b0f18;
    border: 1px white;

}

.mainBox{
    border: 1px solid #0b0f18;
    position: absolute;
    top:25%;
    right:20%;
    left: 35%;
    
}

.navBox{
    border: 1px solid #0b0f18;
    position:fixed;
    top:25%;
    right:66%;
    left: 15%;
    text-align: right;
    

}

.logo{
    height: 25%;
    width: 20%;
    
}
#myNews {
    color:yellow;
}

#myDetails {
    color:#48d67c;
}


#myInstructors {
    color:#5d9ff0;
}

#mySyllabus {
    color:#9e84ed;
}

#myAMAResponses {
    color:#dd6667;
}

#navList {
    list-style: none;
}

#myfirstH1{
    color: #ffffff;
}

#mySecondH1{
    color:#84868b;
}

#introDetails{
    color:white;
}

#introNews {
    color:white;
}

#addWhite {
    color:white;
}

.addWhite {
    color:white;
}

#myfirstH2{
    color:white;
}
.instructorImageClass {
    width: 80%;
    height: 80%;
}

footer{
    color:white;
    font-size: 10px;
}

#iAmFeelingLucky{
    color: pink;
}