.boxTitle {
    border: 3px solid black;
    position:relative;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    
    background: linear-gradient(115deg, #fdfcfb, #e2d1c3);
    
}
.mainBox {
    border: 3px solid black;
    position:relative;
    margin:auto; 
    font-family: 'Kalam', cursive;
    

}

.descriptionBox {
    border: 1px solid red;
    position:relative;
    background:  #d7f9f8;;
    
    
}
.prerequisitesBox{
    border: 1px solid green;
    position:relative;
    background: #ffffea; 
}
    


.expectedOutcomeBox {
    border: 1px solid blue;
    position:relative;
    background: #fff0d4; 
}

.suggestedBooksBox {
    border: 1px solid violet;
    position:relative;
    background: #fbe0e0; 
}
table, th, td {
    border: 1px solid;
  }
img{
    width: 100%;
    height: auto;
    
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
}
body {
    background: linear-gradient(115deg, #ffffff, #ffe3fb);
    /*background-image: url('coding.gif');
    
    background-color: #043142;*/
    
  }
